<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirmação - Teste Front End - Blu365</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
</head>

<body>
    <section class="container">
        <h1 class="title--default">
            Seu mentor selecionado foi: <span id="mentor-name"></span>
        </h1>
        <div class="choose-container">
            <button class="button--choose--accept" id="btn-accept">Aceito</button>
            <button class="button--choose--deny" id="btn-deny">Não aceito</button>
        </div>
    </section>
    <script src="js/jquery.min.js"></script>
    <script src="js/confirmation.js"></script>
</body>

</html>