<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inscrição - Teste Front End - Blu365</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
</head>
<body>
    <section class="container">
         <h1 class="title--default home__title">Inscrição academia <div>Star Wars</div></h1>
         <form class="home__form" id="register-form">
            <input id="name" placeholder="Digite seu nome" type="text" class="input--default">
            <input id="age" placeholder="Digite sua idade" type="text" class="input--default">
            <input id="email" placeholder="Digite seu email" type="email" class="input--default">
            <button type="submit" class="button--submit">Cadastrar</button>
         </form>
    </section>
    <script src="js/jquery.min.js"></script>
    <script src="js/home.js"></script>
</body>
</html>