<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirmação - Teste Front End - Blu365</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
</head>

<body>
    <section class="container">
        <h1 class="title--default success__title">
            Parabéns <span id="student-name"></span>!
        </h1>
        <img src="images/jedi.jpg" class="success-img" alt="Ordem Jedi" title="Ordem Jedi">
        <p class="success__description">
            O
            <span id="mentor-name"></span> está te esperando no planeta
            <span id="mentor-planet"></span>.
        </p>
    </section>
    <script src="js/jquery.min.js"></script>
    <script src="js/confirmation.js"></script>
</body>

</html>